description = "Product page"

[formwidget]
formType = "third"
==
<!DOCTYPE html>
<html>
    {% partial 'app/meta' %}
    <body>
        <!-- Header -->
        <header class="header">
            {% partial 'app/header' %}
        </header>
        <!-- Content -->
        <main class="main">
          <section class="single-product">
            <div class="wrapper">
              {% page %}
            </div>
          </section>
        </main>

        <!-- Footer -->
        <footer class="footer">
            {% partial 'app/footer' %}
        </footer>

        <div class="popup animate__animated bulk-popup">
          <div class="popup-dialog">
            <div class="popup-window">
              <div class="popup-window__header">
                <h4 class="popup-window__header-title">Оставить заявку</h4>
                <button class="popup-window__header-close">&times;</button>
              </div>
              <div class="popup-window__body">
                <div class="scroll-mobile-y">
                  {% component 'formwidget' %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Scripts -->
        <script src="{{ 'assets/dist/js/index.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>